In [1]:
# Step 1: Import libraries
import pandas as pd

# Step 2: Load the data
file_path = "../data/raw/cleaned_Diwali_sales.csv"
df = pd.read_csv(file_path)

# Step 3: View first few rows
print("Preview of data:")
display(df.head())

# Step 4: Check shape and columns
print(f"\nNumber of rows and columns: {df.shape}")
print("\nColumns in dataset:")
print(df.columns.tolist())

# Step 5: Basic info and stats
print("\nData Information:")
df.info()

print("\nSummary Statistics:")
display(df.describe())

# Step 6: Check missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

# Step 7: Check duplicates
print("\nNumber of duplicate rows:", df.duplicated().sum())

Preview of data:

,Unnamed: 0,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,age_group
0,0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,19-30
1,1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,31-40
2,2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,31-40
3,3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,11-18
4,4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,19-30

Number of rows and columns: (11251, 15)

Columns in dataset:
['Unnamed: 0', 'User_ID', 'Cust_name', 'Product_ID', 'Gender', 'Age Group', 'Age', 'Marital_Status', 'State', 'Zone', 'Occupation', 'Product_Category', 'Orders', 'Amount', 'age_group']

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        11251 non-null  int64
 1   User_ID           11251 non-null  int64
 2   Cust_name         11251 non-null  object
 3   Product_ID        11251 non-null  object
 4   Gender            11251 non-null  object
 5   Age Group         11251 non-null  object
 6   Age               11251 non-null  int64
 7   Marital_Status    11251 non-null  int64
 8   State             11251 non-null  object
 9   Zone              11251 non-null  object
 10  Occupation        11251 non-null  object
 11  Product_Category  11251 non-null  object
 12  Orders            11251 non-null  int64
 13  Amount            11239 non-null  float64
 14  age_group         11115 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 1.3+ MB

Summary Statistics:

,Unnamed: 0,User_ID,Age,Marital_Status,Orders,Amount
count,11251.000000,1.125100e+04,11251.000000,11251.000000,11251.000000,11239.000000
mean,5625.000000,1.003004e+06,35.421207,0.420318,2.489290,9453.610858
std,3248.028274,1.716125e+03,12.754122,0.493632,1.115047,5222.355869
min,0.000000,1.000001e+06,12.000000,0.000000,1.000000,188.000000
25%,2812.500000,1.001492e+06,27.000000,0.000000,1.500000,5443.000000
50%,5625.000000,1.003065e+06,33.000000,0.000000,2.000000,8109.000000
75%,8437.500000,1.004430e+06,43.000000,1.000000,3.000000,12675.000000
max,11250.000000,1.006040e+06,92.000000,1.000000,4.000000,23952.000000

Missing values in each column:
Unnamed: 0            0
User_ID               0
Cust_name             0
Product_ID            0
Gender                0
Age Group             0
Age                   0
Marital_Status        0
State                 0
Zone                  0
Occupation            0
Product_Category      0
Orders                0
Amount               12
age_group           136
dtype: int64

Number of duplicate rows: 0

In [ ]:
# Step 1: Drop unnecessary column
df.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')


# Step 2: Rename columns (remove spaces and make lowercase)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Step 3: Handle missing values
# Fill missing 'amount' with median value (more stable than mean for skewed data)
df['amount'].fillna(df['amount'].median(), inplace=True)

# Fill missing 'age_group' based on 'age'
df['age_group'].fillna(df['age'].apply(
    lambda x: '0-18' if x <= 18 else '19-30' if x <= 30 else '31-45' if x <= 45 else '46+'
), inplace=True)

# Step 4: Verify cleaning
print("✅ Missing values after cleaning:")
print(df.isnull().sum())

# Step 5: Preview cleaned data
print("\nPreview of cleaned data:")
display(df.head())

# Step 6: Save cleaned data into processed folder
processed_path = "../data/processed/cleaned_diwali_sales_processed.csv"
df.to_csv(processed_path, index=False)

print(f"\n✅ Cleaned data saved successfully to: {processed_path}")

KeyError: "['Unnamed: 0'] not found in axis"